.Todo {
  max-width: 500px;
  margin: auto;
}
.Todo .todo-row {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid rgba(238, 228, 228, 0.9);
  box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
  padding: 15px 25px;
  margin: 0px;
  color: #fff;
}
.Todo .complete {
  text-decoration: line-through;
  opacity: 0.6;
  background: rgba(125, 125, 125, 1);
}

.Todo .hidden {
  display: none;
}
.Todo .icon {
  font-size: 24px;
}
.Todo .edit {
  width: 500px;
  padding: 0;
  margin: auto 0;
}
.Todo .delete-icon,
.Todo .colour-icon,
.Todo .edit-icon {
  margin-right: 5px;
  color: #fff;
  font-size: 24px;
}
.Todo #edit {
  background: #f3f3f3;
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0 auto;
  height: 48px;
  align-items: center;
}
.Todo .colour-pallet {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
  padding: 5px;
  border-radius: 6px;
  margin: auto;
  max-width: 480px;
}
.Todo .aqua,
.Todo .blue,
.Todo .pink,
.Todo .yellow,
.Todo .orange,
.Todo .green,
.Todo .purple,
.Todo .grey {
  border-radius: 6px;
  max-width: 480px;
  margin: 0px auto;
  font-size: 15px;
}

.Todo button {
  background: #fff;
  border: none;
}

.Todo .aqua {
  color: var(--aqua-colourPallet);
  background: var(--aqua-colourPallet);
}
.Todo .blue {
  color: var(--blue-colourPallet);
  background: var(--blue-colourPallet);
}
.Todo .pink {
  color: var(--pink-colourPallet);
  background: var(--pink-colourPallet);
}
.Todo .yellow {
  color: var(--yellow-colourPallet);
  background: var(--yellow-colourPallet);
}
.Todo .orange {
  color: var(--orange-colourPallet);
  background: var(--orange-colourPallet);
}
.Todo .green {
  color: var(--green-colourPallet);
  background: var(--green-colourPallet);
}
.Todo .purple {
  color: var(--purple-colourPallet);
  background: var(--purple-colourPallet);
}
.Todo .grey {
  color: var(--grey-colourPallet);
  background: var(--grey-colourPallet);
}
.Todo #drop {
  background: none;
  font-size: 26px;
}
@media (max-width: 420px) {
  .Todo .edit {
    width: 364px;
  }
}
