:root {
  --main-font: "Poppins", sans-serif;
  --heading-font: "Prata", serif;
  --pink-colour: #ef5592;
  --orange-colour: #f1686c;
}
.App {
  font-family: var(--main-font);
  align-items: center;
  max-width: 576px;
  margin: 20px auto;
  border-radius: 6px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(242, 235, 243, 0.7) 0%,
    rgba(234, 241, 249, 0.7) 90.1%
  );
  padding: 25px;
  box-shadow: 0 0 12px rgba(125, 125, 125, 0.5);
}
