.Footer {
  text-align: center;
  display: block;
  margin: 30px auto;
}
.Footer hr {
  max-width: 60%;
  margin: 20px auto;
}
.Footer span {
  opacity: 0.7;
}

@media (max-width: 380px) {
  .Footer img {
    max-width: 80px;
  }
}
