.Footer {
  text-align: center;
  display: block;
  margin: 30px auto;
}
.Footer hr {
  max-width: 60%;
  margin: 20px auto;
}

.Footer a {
  opacity: 0.9;
  color: var(--pink-colour);
  text-decoration: none;
}
.Footer img {
  max-width: 120px;
}

@media (max-width: 420px) {
  .Footer img {
    max-width: 80px;
  }
  .Footer a,
  .Footer span {
    font-size: 12px;
  }
}
